# JetBrains metadata
.idea/

# Apple metadata
*.DS_Store

# Assignment files
project_brief.pdf
reportfigures
report.pages
log.pages

# Extra images
traindata/cherry/pixabay*
traindata/strawberry/pixabay*
traindata/tomato/pixabay*